/* ********** Base Styles ********** */

body{
    font-family: lato;
    margin: 0;
    position: relative;
}

nav{
    display: flex;
    background-color: #6fbbe7;
    box-shadow: 0px 0px 5px black;
}

a{
    text-decoration: none;
    color: dimgrey;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;

    margin-top: 0;
    height: 3em;
    justify-content: start;
    align-items: center;
    text-align: center;
}

button{
    border: none;
    color: dimgrey;
    background-color: #209be385;
    border-radius: 5px;
    min-height: 1.5rem;
    min-width: 6vw;
}

header{
    position: sticky;
    top: 0;
}

.content-wrapper{
    min-height: 100vh;
    padding: 1rem;
}

h1, h2, h3{
    text-align: center;
}

/* ********** Forms ********** */

fieldset{
    width: 30vw;
    margin-inline: auto;
    margin-top: 5rem;
    border: 1px solid #209be385;
    border-radius: 15px;
}

form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.form-field{

    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.form-field textarea{
    width: 100%;
    box-sizing: border-box;
    min-height: 5rem;
}

form button{
    width: 50%;
    margin-inline: auto;
    margin-top: 1em;
}


/* ********** Footer ********** */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 5rem;
}

footer .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: end;
}
 
footer a i{
    font-size: 2.5em;
}

footer ul{
    display: flex;
    justify-content: end;
    gap: 2em;
    padding-inline: 1em;
}


/* ********** Fonts ********** */

@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Regular.ttf);
}

/* **********  ********** */