<main>
    <div class='content-wrapper'>
        <fieldset>
            <legend>
                Add a project
            </legend>
            <form>
                <div>
                    <label>Title</label>
                    <input type='text'>
                </div>
                <div>
                    <label>release date</label>
                    <input type='text'>
                </div>
                <div>
                    <label>Type</label>
                    <input type='text'>
                </div>
                <div>
                    <label>resume</label>
                    <input type='text'>
                </div>
                <button>
                    Confirm
                </button>
            </form>
        </fieldset>
    </div>
</main>